Source: opendiamond-java
Section: java
Priority: optional
Maintainer: Jan Harkes <jaharkes@cs.cmu.edu>
Build-Depends: 
    ant,
    debhelper (>=11),
    openjdk-8-jdk,
    javahelper,
    libjaxb-java
Standards-Version: 4.1.4
Homepage: http://diamond.cs.cmu.edu
Vcs-Git: https://github.com/cmusatyalab/opendiamond-java.git

Package: opendiamond-java
Architecture: all
Depends: ${misc:Depends}, ${java:Depends}
Description: Java client library for OpenDiamond
 Provide APIs to communicate with OpenDiamond backend servers with a
 custom protocol.
