Source: opendiamond-java
Section: java
Priority: optional
Maintainer: Ziqiang Feng <zf@cs.cmu.edu>
Build-Depends: 
    ant,
    debhelper (>=9),
    openjdk-8-jdk,
    javahelper
Standards-Version: 3.9.6
Homepage: http://diamond.cs.cmu.edu
Vcs-Git: https://github.com/cmusatyalab/opendiamond-java.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/opendiamond-java.git

Package: opendiamond-java
Architecture: all
Depends: ${misc:Depends}
Description: Java client library for OpenDiamond
 Provide APIs to communicate with OpenDiamond backend servers with a dedicated protocol. 
